<center>
   <h1>
   </h1>
   <h1 style="background-color:White;"><font face="Impact" color="black">
      <font size="50"><strong>{{ page.title }}</font></strong>
      </font>
   </h1>
   <style>
      .content {
      max-width: 3000px;
      }
   </style>
   <nav>
      <a href="/" {% if page.url == "/" %}style="color: red;"{% endif %}>Home</a>
      <br>
      <a href="/about/" {% if page.url == "/about.html" %}style="color: red;"{% endif %}>About</a>
   </nav>
   <hr>
   <body style="background-color:BDEAE2;">
      <div class="content">
         {{ content }}
      </div>
</center>